.fix {
    background-color: gold;
}

.inputTable tr {
    border: 1px solid black;
}

.boardTable tr {
    border: 1px solid black;
}

.inputTable td {
    height: 40px;
    width: 40px;
    border: 1px solid black;
}

.boardTable td {
    height: 40px;
    width: 40px;
    border: 1px solid black;
}

.inputTable td:hover {
    border: 2px solid blueviolet;
}

.boardTable td:hover {
    border: 2px solid blueviolet;
}

.inputTable {
    border-collapse: collapse;
    background-color: yellow;
    border: 4px solid black;
    text-align: center;
}

.boardTable {
    border-collapse: collapse;
    background-color: yellow;
    border: 4px solid black;
    text-align: center;
}

.boardTable .r3 {
    border-bottom: 3px solid black;
}

.boardTable .r6 {
    border-bottom: 3px solid black;
}

.boardTable .c6 {
    border-right: 3px solid black;
}

.boardTable .c3 {
    border-right: 3px solid black;
}

.container .select {
    background-color: greenyellow;
}

.container .boardTable .select {
    background-color: ivory;
}

.save {
    background-color: silver;
    height: 80px;
    width: 200px;
    text-align: center;
    line-height: 80px;
}

.error {
    background-color: tomato;
    font-weight: bold;
}

body {
    background-image: url(/static/resource/background2.jpg);
    background-size: 100%;
    background-position: center 5%;
    background-repeat: no-repeat;
}

.board {
    position: fixed;
    top: 20%;
    right: 20%;
}

.strBoard {
    position: fixed;
    top: 20%;
    left: 20%;
}

p {
    border: 1px solid black;
    border-radius: 3px;
    background-color: ivory;
    font-size: 20px;
    color: red;
    font-weight: bold;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
    margin: 0;
}

input {
    width: 150px;
    height: 40px;
    font-size: 20px;
    border: #F00 1px solid;
    border-radius: 3px;
    background: lightblue;
    color: purple;
}

textarea {
    outline: 0 none;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
    height: 100px;
    width: 270px;
    font-size: 20px;
}