body {
    background-image: url(/static/resource/background.png);
    background-size: 100%;
    background-position: center 5%;
    background-repeat: no-repeat;
}

.fix {
    background-color: gold;
}

tr {
    border: 1px solid black;
}

td {
    height: 40px;
    width: 40px;
    border: 1px solid black;
}

td:hover {
    border: 2px solid blueviolet;
}

table {
    border-collapse: collapse;
    background-color: yellow;
    border: 3px solid black;
    position: fixed;
    top: 20%;
    right: 40%;
    text-align: center;
}

table .r3,
.r6 {
    border-bottom: 3px solid black;
}

table .c3,
.c6 {
    border-right: 3px solid black;
}

.menu {
    position: fixed;
    top: 20%;
    right: 15%;
    height: 320px;
    width: 300px;
}

.menu .info {
    height: 250px;
    background-image: url(/static/resource/info.png);
    background-size: 100%;
    background-color: antiquewhite;
    font-family: FontAwesome;
    font-size: 30px;
    text-align: center;
}

.menu .info .header {
    height: 70px;
    color: coral;
}

.menu .info .content {
    height: 180px;
    line-height: 50px;
}

.menu .restart {
    height: 70px;
    background-color: silver;
    font-family: FontAwesome;
    font-size: 40px;
    line-height: 70px;
    color: blue;
    text-align: center;
}

.error {
    color: tomato;
    font-weight: bold;
}

.ignore {
    display: none;
}