<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Sudoku!</title>
    <link rel="stylesheet" href="/static/styleMain.css">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script type="text/javascript" src="static/jquery.3.6.0.js"></script>
</head>

<div>
    <table class="container">
        <tr>
            <td>
                <table class="inputTable">
                    <tr>
                        <td class="input0">0</td>
                    </tr>
                    <tr>
                        <td class="input1">1</td>
                    </tr>
                    <tr>
                        <td class="input2">2</td>
                    </tr>
                    <tr>
                        <td class="input3">3</td>
                    </tr>
                    <tr>
                        <td class="input4">4</td>
                    </tr>
                    <tr>
                        <td class="input5">5</td>
                    </tr>
                    <tr>
                        <td class="input6">6</td>
                    </tr>
                    <tr>
                        <td class="input7">7</td>
                    </tr>
                    <tr>
                        <td class="input8">8</td>
                    </tr>
                    <tr>
                        <td class="input9">9</td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="boardTable">
                    <tr class="r1">
                        <td class="c1"></td>
                        <td class="c2"></td>
                        <td class="c3"></td>
                        <td class="c4"></td>
                        <td class="c5"></td>
                        <td class="c6"></td>
                        <td class="c7"></td>
                        <td class="c8"></td>
                        <td class="c9"></td>
                    </tr>
                    <tr class="r2">
                        <td class="c1"></td>
                        <td class="c2"></td>
                        <td class="c3"></td>
                        <td class="c4"></td>
                        <td class="c5"></td>
                        <td class="c6"></td>
                        <td class="c7"></td>
                        <td class="c8"></td>
                        <td class="c9"></td>
                    </tr>
                    <tr class="r3">
                        <td class="c1"></td>
                        <td class="c2"></td>
                        <td class="c3"></td>
                        <td class="c4"></td>
                        <td class="c5"></td>
                        <td class="c6"></td>
                        <td class="c7"></td>
                        <td class="c8"></td>
                        <td class="c9"></td>
                    </tr>
                    <tr class="r4">
                        <td class="c1"></td>
                        <td class="c2"></td>
                        <td class="c3"></td>
                        <td class="c4"></td>
                        <td class="c5"></td>
                        <td class="c6"></td>
                        <td class="c7"></td>
                        <td class="c8"></td>
                        <td class="c9"></td>
                    </tr>
                    <tr class="r5">
                        <td class="c1"></td>
                        <td class="c2"></td>
                        <td class="c3"></td>
                        <td class="c4"></td>
                        <td class="c5"></td>
                        <td class="c6"></td>
                        <td class="c7"></td>
                        <td class="c8"></td>
                        <td class="c9"></td>
                    </tr>
                    <tr class="r6">
                        <td class="c1"></td>
                        <td class="c2"></td>
                        <td class="c3"></td>
                        <td class="c4"></td>
                        <td class="c5"></td>
                        <td class="c6"></td>
                        <td class="c7"></td>
                        <td class="c8"></td>
                        <td class="c9"></td>
                    </tr>
                    <tr class="r7">
                        <td class="c1"></td>
                        <td class="c2"></td>
                        <td class="c3"></td>
                        <td class="c4"></td>
                        <td class="c5"></td>
                        <td class="c6"></td>
                        <td class="c7"></td>
                        <td class="c8"></td>
                        <td class="c9"></td>
                    </tr>
                    <tr class="r8">
                        <td class="c1"></td>
                        <td class="c2"></td>
                        <td class="c3"></td>
                        <td class="c4"></td>
                        <td class="c5"></td>
                        <td class="c6"></td>
                        <td class="c7"></td>
                        <td class="c8"></td>
                        <td class="c9"></td>
                    </tr>
                    <tr class="r9">
                        <td class="c1"></td>
                        <td class="c2"></td>
                        <td class="c3"></td>
                        <td class="c4"></td>
                        <td class="c5"></td>
                        <td class="c6"></td>
                        <td class="c7"></td>
                        <td class="c8"></td>
                        <td class="c9"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <div class="menu">
        <div class="info">
            <div class="header">
                消息窗口
            </div>
            <div class="message">
                当前用户：{{userData}}<br> 所用时间：
                <span class="time" name="time">0</span>
            </div>
            <div class="content">enjoy sudoku!</div>
        </div>
        <div class="restart">重新开始</div>
        <div class="pass">太简单了，跳过！</div>
    </div>
    <p class="ignore" id="boardData">{{boardData}}</p>
    <script src="/static/scriptMain.js"></script>
    <script src="/static/love.js" type="text/javascript"></script>
    </body>

</html>